In [ ]:
# Import The Relevant Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#Phase 1 Project Description
##Project Overview
For this project, you will use exploratory data analysis to generate insights for a business stakeholder.

##Business Problem
Microsoft sees all the big companies creating original video content and they want to get in on the fun. They have decided to create a new movie studio, but they donâ€™t know anything about creating movies. You are charged with exploring what types of films are currently doing the best at the box office. You must then translate those findings into actionable insights that the head of Microsoft's new movie studio can use to help decide what type of films to create.

##The Data
(data/bom.movie_gross.csv) 
(data/rt.movie_info.tsv)
(data/rt.reviews.tsv) 
(data/tmdb.movies.csv)
(data/tn.movie_budgets.csv)

I opted to use (data/bom.movie_gross.csv),   and (data/tn.movie_budgets.csv)
Because it was collected from various locations, the different files have different formats. Some are compressed CSV (comma-separated values) or TSV (tab-separated values) files that can be opened using spreadsheet software or pd.read_csv, while the data from IMDB is located in a SQLite database.

In [2]:
# Load the datasets ('bom.movie_gross.csv')
bom_movie_gross_df= pd.read_csv('data/bom.movie_gross.csv')
#Display the first few rows of the DataFrame to understand its structure
bom_movie_gross_df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010